@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #e8ebee;
}
.jumbotron {
  padding: 6rem 1rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbotron-h{
  padding: 0rem;
}
section {
  padding-top: 3rem;
  padding-bottom: 3.5rem;
}
figure {
  margin: 0;
}
.rounded-circle {
  border-radius: 100px !important;
}
img.rounded {
  width: 4rem;
}
.navbar {
  background-color: rgb(215, 127, 161);
}
nav.footer {
  background-color: #343a40;
  text-align: center;
  color: goldenrod;
  padding: 25px;
}
img.card-img-top {
  width: 40%;
}
.card {
  box-shadow: 13px 13px 20px #caced1, -13px -13px 20px white;
  border-radius: 20px;
  margin-top: 10px;
  color: black;
  background-color: #e8ebee;
}
.col{
  margin-top: 20px;
}
#protokol {
  background-image: url(../../assets/images/ornam/Asset5.png);
  background-size: initial;
  background-repeat: no-repeat;
  background-position: top 3px center;
}
#galeri,#lokasi,#pesan,#gift{
  background-image: url(../../assets/images/ornam/Asset5.png),url(../../assets/images/ornam/Asset5a.png);
  background-size: initial;
  background-repeat: no-repeat,no-repeat;
  background-position: top 1px center, bottom 0px center;
}
#about{
  background-image: url(../../assets/images/ornam/Asset5.png),url(../../assets/images/ornam/Asset9a.png);
  background-position: top 1px center, bottom 1px center;
  background-repeat: no-repeat, no-repeat;
  background-size: initial;
}
#about {
  padding-bottom: 2rem;
}
#calender{
  background-size: initial;
  background-image: url(../../assets/images/ornam/Asset5a.png);
  background-repeat: no-repeat;
  padding-top: 25px;
  background-position: bottom 3px center;
}
.card-1 {
  border-radius: 20px;
  margin-top: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 0rem;
  box-shadow: 12px 12px 20px #caced1, -12px -12px 20px white;
}
h1.display-12.text-center {
  padding: 4rem 0;
  background-image: url(../../assets/images/ornam/Asset7a.png);
  background-repeat: no-repeat;
  background-position: top 15px center;
  font-size: 1.5em;
}
#mpl{
  background-image: url(../../assets/images/ornam/Asset3.png),url(../../assets/images/ornam/Asset2.png);
  background-position: top 1px center, bottom 1px center;
  background-repeat: no-repeat, no-repeat;
  background-size: initial;
}
#mpw{
  background-image: url(../../assets/images/ornam/Asset3.png),url(../../assets/images/ornam/Asset2.png);
  background-position: top 1px center, bottom 1px center;
  background-repeat: no-repeat, no-repeat;
  background-size: initial;
}
.p{
  color: darkgoldenrod;
}
main {
  padding: 20px;
}
.audio {
  padding: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
}
audio {
  width: 250px;
  height: 30px;
}
.modal1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1030; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.container1 {
  text-align: center;
}
.hero {
  background: linear-gradient(rgba(153, 110, 109, 0.65), rgba(153, 110, 109, 0.3)), rgba(0, 0, 0, 0.55) url("https://i.ibb.co/SrJqtgY/RAY-0165-1920-sq.jpg") no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
  min-height: 100%;
  background-position: center;
  color: white;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-family: "Raleway", sans-serif;
}
.hero {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15rem;
}
.float-container {
  background-color: #343a40;
  position: fixed;
  width: 35px;
  height: 35px;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-radius: 50%;
  box-shadow: 2px 2px 10px #fff;
}
.playpause-chk-icon {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.playpause-chk-icon + label::before {
  font-family: 'Bootstrap-icons';
  content: '\F4C2';
  font-size: 2rem;
  cursor: pointer;
  display: block;
  position: relative;
  margin: 2px;
  color:white;
  transition: 0.1s transform ease;
  transform: rotate(-180deg);
}

.playpause-chk-icon:checked + label::before {
  font-family:'Bootstrap-icons';
  content:'\F4F3';
  cursor: pointer;
  transform: rotate(0);
}
/* countdown css */
.days,.minutes,.hours,.seconds{
  border-radius: 6px;
  padding: 0 6px 0 6px;
  box-sizing: border-box;
  background-color: #e8ebee;
  color: black;
  box-shadow: inset 2px 2px 8px #caced1, inset -2px -2px 8px white;
}
.days_text,.minutes_text,.hours_text,.seconds_text{
  padding-top: 3px;
}
#countdown {
  border-radius: 10px;
  box-shadow: 5px 5px 10px #caced1,-5px -5px 10px white;
  margin-bottom: -10px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
ul#hitungmundur {
  list-style: none;
  margin: 25px 0px 0px 0px;
  padding: 0;
  display: block;
  text-align: center;
}
ul#hitungmundur li {
  display: inline-block;
}
ul#hitungmundur li span {
  font-size: 30px;
  font-weight: 500;
  line-height: 30px;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}
ul#hitungmundur li.separator {
  font-size: 30px;
  line-height: 25px;
  vertical-align: top;
}
ul#hitungmundur li p {
  color: rgb(0, 0, 0);
  font-size: 16px;
}
.back-to-top {
    position: fixed;
    bottom: 25px;
    left: 25px;
    display: none;
}
/* button scrool to top */
#button {
  background-color: #343a40;
  position: fixed;
  width: 35px;
  height: 35px;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-radius: 50%;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  font-family: 'Bootstrap-icons';
  content: '\F13A';
  font-weight: normal;
  font-style: normal;
  font-size: 2rem;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #23023b;
}
#button:active {
  background-color: #23023b;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
figcaption {
  text-align: center;
  margin: 10px;
}
/* cp to clipboard */
::selection {
  background-color: black;
  color: white;
}
#container {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 30px;
  margin: 0px;
  box-shadow: 13px 13px 20px #caced1, -13px -13ox 20px white;
  border-radius: 15px;
}
#text {
  box-sizing: border-box;
  background-color: #e8ebee;
  color: #000000;
  border-radius: 15px;
  padding: 10px 15px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Share Tech Mono';
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.5;
  box-shadow: inset 4px 4px 8px #caced1, inset -4px -4px 8px white;
}
#copy::before{
  /* font-family: 'Bootstrap-icons';
  content: '\F290'; */
  position: relative;
  box-sizing: border-box;
  width: 180px;
  min-height: 44px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 5px;
  border: 0;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
  user-select: none;
}